.waiting-container {
  display: flex;
  flex-direction: column;
  /* Display items in a column */
  align-items: center;
  background-color: #000;
  /*border-radius: 8px;*/
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.waiting-message {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 500;
}
.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbbf24; /* Yellow background */
 width:150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.confirmation-message {
  color: black;
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 600;
}


.waiting-image {
  width: 200px;
  height: 200px;
}

.p-dialog-draggable .p-dialog-header {
  background-color: #fbbf24;
 
  padding: 10px;
  border-bottom: none;
}
